@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:wght@300;400;500&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --light-red: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);
  --blue-elemao: hsl(246, 80%, 60%);
  --very-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background: var(--very-blue);
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-card {
  background-color: white;
  height: 500px;
  border-radius: 15px;
  width: 250px;
}

.boxes-container {
  height: 500px;
  width: 700px;
  border-radius: 15px;
}

/* No tocar lo que está arriba  */
/* ___________________________ */

/* upper box set */

.upper-box {
  border-radius: 15px;
  background-color: var(--blue-elemao);
  height: 350px;
}

.upper-box img {
  margin: 35px 25px;
  width: 80px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
}

.upper-box p {
  font-weight: 300;
  color: var(--pale-blue);
  font-size: 14px;
  margin: auto 25px;
}

.upper-box h1 {
  font-weight: 300;
  color: white;
  margin: auto 25px;
  padding-top: 5px;
}

/* ____________________ */

/* Days info */

.user-card {
  background-color: var(--dark-blue);
}

.pickme {
  color: white;
}

.user-card {
  color: var(--desaturated-blue);
}

.user-card p {
  margin-left: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.user-card p:hover {
  color: white;
}
/* _______________________________ */

/* box container */
.boxes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-content: space-between;
  justify-content: space-between;
}

.box {
  background-color: white;
  width: 220px;
  height: 240px;
  border-radius: 15px;
  position: relative;
}

.svg-box {
  position: absolute;
  right: 0%;
  width: 60px;
  padding-right: 5px;
}

.box-info {
  background-color: var(--dark-blue);
  position: absolute;
  top: 40px;
  width: 220px;
  height: 200px;
  border-radius: 15px;
  cursor: pointer;
}

.box-info:hover {
  background-color: #34397b;
}

.box1 {
  background-color: var(--light-red);
}

.box1 h3 {
  color: white;
  font-weight: 400;
  margin: auto 25px;
  padding-top: 25px;
}

.box2 h3 {
  color: white;
  font-weight: 400;
  margin: auto 25px;
  padding-top: 25px;
}
.box3 h3 {
  color: white;
  font-weight: 400;
  margin: auto 25px;
  padding-top: 25px;
}
.box4 h3 {
  color: white;
  font-weight: 400;
  margin: auto 25px;
  padding-top: 25px;
}
.box5 h3 {
  color: white;
  font-weight: 400;
  margin: auto 25px;
  padding-top: 25px;
}
.box6 h3 {
  color: white;
  font-weight: 400;
  margin: auto 25px;
  padding-top: 25px;
}
.elipsis-icon {
  position: absolute;
  right: 0%;
  width: 28px;
  padding-right: 15px;
  top: 0;
  padding-top: 33px;
}

.elipsis-icon:hover {
  width: 33px;
}

.box1 h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin: auto 25px;
  padding-top: 25px;
}
.box2 h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin: auto 25px;
  padding-top: 25px;
}
.box3 h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin: auto 25px;
  padding-top: 25px;
}
.box4 h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin: auto 25px;
  padding-top: 25px;
}
.box5 h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin: auto 25px;
  padding-top: 25px;
}
.box6 h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin: auto 25px;
  padding-top: 25px;
}
.box1 p {
  color: var(--pale-blue);
  font-size: 14px;
  font-weight: 300;
  margin: auto 25px;
  padding-top: 15px;
}
.box2 p {
  color: var(--pale-blue);
  font-size: 14px;
  font-weight: 300;
  margin: auto 25px;
  padding-top: 15px;
}
.box3 p {
  color: var(--pale-blue);
  font-size: 14px;
  font-weight: 300;
  margin: auto 25px;
  padding-top: 15px;
}
.box4 p {
  color: var(--pale-blue);
  font-size: 14px;
  font-weight: 300;
  margin: auto 25px;
  padding-top: 15px;
}
.box5 p {
  color: var(--pale-blue);
  font-size: 14px;
  font-weight: 300;
  margin: auto 25px;
  padding-top: 15px;
}
.box6 p {
  color: var(--pale-blue);
  font-size: 14px;
  font-weight: 300;
  margin: auto 25px;
  padding-top: 15px;
}
.box2 {
  background-color: var(--soft-blue);
}

.box3 {
  background-color: var(--light-red-study);
}

.box4 {
  background-color: var(--lime-green);
}

.box5 {
  background-color: var(--violet);
}

.box6 {
  background-color: var(--soft-orange);
}
